[Unit]
Description=AdGuardHome via Docker Compose
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/opt/adguardhome
ExecStart=/usr/local/bin/docker-compose -f adguardhome.Dockerfile up
ExecStop=/usr/local/bin/docker-compose -f adguardhome.Dockerfile down
Restart=always
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
